<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<h3>订单页面</h3>
<table class="table">
    <tr>
        <td>图片</td>
        <td>商品</td>
        <td>属性</td>
        <td>单价</td>
        <td>总价</td>


    </tr>
    {volist name="list" id="vo"}
    <tr>
        <td><img src="__STATIC__/{$vo.cart_goods.pic}" alt="" style="height: 100px;width: 80px"></td>
        <td>{$vo.cart_goods.goods_name}</td>
        <td>{$vo.cart_goods.attr}</td>
        <td>{$vo.cart_goods.price}</td>
        <td>
            <span id="item"></span>
        </td>
    </tr>
    {/volist}
</table>
<button>付款</button>
</body>
</html>